body {
  background-color: rgb(0, 0, 28) !important;
}

.form-box {
  background-color: rgb(45, 45, 69);
  width: 100%;
  padding: 30px;
  height: 500px;
  border-radius: 50px;
  margin-bottom: 60px;
}

.input2 {
  background: transparent !important;
  color: #fff !important;
}
.input2::placeholder {
  color: #fdd3d3 !important;
  opacity: 0.2 !important;
}

.select {
  font-size: 15px;
  font-weight: 300 !important;
}
.option {
  background: transparent !important;
  color: #fdd3d3 !important;
}

.form-box h3,
p {
  color: #fff;
}

.form-box p {
  font-weight: 600;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.btn-div button {
  width: 100%;
  font-weight: 600;
}

.message-box {
  background-color: transparent !important;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.leave-btn {
  display: flex;
  justify-content: end;
}

.leave-btn a {
  color: #fe0000;
  font-size: 30px;
}

.messages {
  overflow-y: scroll;
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messages::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

.messages::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
  background: #552f2f;
}

.messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
  background: #fdd3d3;
}

.chat-input {
  width: 90% !important;
  display: inline-block !important;
}

.send-btn {
  display: inline-block;
  background: none;
  border: none;
  font-size: 25px;
  color: #dc6e00;
}

.room-text {
  text-align: center;
  color: #fff;
}

.text {
  background-color: rgb(0, 157, 205);
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
  padding: 10px 30px 10px 10px;
  border-radius: 0 20px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.text2 {
  margin-bottom: 20px;
  margin-right: 20px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.text2_bg {
  background-color: rgb(247, 0, 255);
  padding: 10px 30px 10px 10px;
  border-radius: 0 20px;
}

.time {
  font-size: 10px;
}
