{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="leave-btn">
        <a href="/" onclick="clearLocalStorage()"
          ><i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </div>
      <div class="message-box">
        <h2 class="room-text">Chat Room: {{room}}</h2>

        <div class="messages" id="messages"></div>
        <div id="scrollTo"></div>
        <div class="form-group" id="form-group">
          <input
            type="text"
            placeholder="Message"
            name="message"
            class="form-control chat-input"
            id="message"
          />

          <button
            class="send-btn"
            type="button"
            name="send"
            id="send-btn"
            onclick="sendMessage()"
          >
            <i class="fa-regular fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<script type="text/javascript">
  // initialize socketio
  const socketio = io();

  localStorage.setItem("current_user", "{{name}}");

  // get current user from local storage
  const current_user = localStorage.getItem("current_user");

  const messages = document.getElementById("messages");
  const usersList = document.getElementById("users");
  const message = document.getElementById("message");

  // create and render chat message to the screen function
  const createMessage = (name, msg) => {
    console.log(name, current_user);
    let content;

    content = `<div id="text" class=${
      current_user === name ? "text2" : "text"
    }> 
      <div class=${current_user === name ? "text2_bg" : "text_bg"}>
      <strong>${name} </strong>: 
        ${msg}
      
        <div class="muted"> 
          <p class="time">  ${new Date().toLocaleString()} </p>
        </div>
      </div>

    </div> 
    `;

    messages.innerHTML += content;

    messages.scrollTo({
      top: messages.scrollHeight,
      // left: 100,
      behavior: "smooth",
    });
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  // send message to room function
  const sendMessage = () => {
    if (message.value == "") {
      return;
    }

    socketio.emit("message", { data: message.value });
    message.value = "";
  };

  // execute send message function on press enter key
  message.addEventListener("keypress", (event) => {
    if (event.key === "Enter") {
      return sendMessage();
    }
  });

  // clear current user data from local storage function
  const clearLocalStorage = () => {
    localStorage.removeItem("current_user");
  };
</script>

{% endblock %}
